@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html,
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:cornflowerblue;
    width: 100%;
    height: 100%;
}


.gameContainer{ 
    width: 80%;
    height: 90vh;
    background-color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border-radius: 20px;
    
}
@media (max-width:820px){
    .gameContainer{ 
        width: 92%;
        height: fit-content;
        background-color:#fff;
        display: flex;
        align-items: center;
        padding: 10vh 0;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        border-radius: 20px;
    }
    .gameContainer h1{
        display: none;
        
    }
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(242, 234, 250);
}

.info {
    font-size: 22px;
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}

/* --------------------------------------pop-up section-------------------------- */


.winner{

    width: 50%;
    height: 87vh;
    position:absolute;
    display: none;
    flex-direction:column;
    gap: 8vh;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color:rgba(150, 180, 236, 0.897);
    z-index: 1;
}
#reset{
    border: none;
    background-color: green;
    padding: 10px 25px;
    font-size: larger;
    color: #fff;
}
.info{
    font-size: 7vh;
    color: black;
    
}

@media (max-width:820px){

    .winner{

        width: 80%;
        height: 55vh;
        position:absolute;
        display: none;
        flex-direction:column;
        gap: 4vh;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        background-color:rgba(150, 180, 236, 0.897);
        z-index: 1;
    }

    #reset{
        border: none;
        background-color: green;
        padding: 8px 20px;
        font-size: larger;
        color: #fff;
    }
    .info{
        font-size: 5vh;
        color: black;
        
    }

}
